@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    font-family: 'Montserrat', sans-serif;
    background-image: url(assets/v957-wan-14.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2.2%;
}

.text{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 1.5%;
}

h1{
    text-transform: uppercase;
    color: #3b4543;
    text-shadow: 2px 2px 2px rgba(70, 70, 70, 0.393);
    font-size: 2.5em;
    margin: 0;
}

.text-p{
    background-color: #3b4543;
    width: 85%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 1% 1% 1%;
    border-radius: 7px;
    font-weight: 440;
    color: white;
    font-size: 1.04em;
}


p span{
    font-weight: 650;
    color: #b0e7dd;
}

.charts{
    width: 85vw;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 10px;
}

.canvas-chart{
    width: 40vw;
    height: 40vh;
}